// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #5580c6;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #666;
$light-gray: #F7F7F7;
$bg-green: rgba(200,247,225,0.2);
$bg-orange: rgba(230,126,34,0.1);
