<div class="footer">
  <div class="footer-links">
    <div><%= link_to 'ホーム', root_path %></div>
    <div><%= link_to 'クラログの使い方', about_path %></div>
    <div><%= link_to '利用規約', terms_path %></div>
  </div>
</div>
