<div class="container mt-3 ">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 mb-5">
      <h3 class="my-2">クラログαとは？</h3>
      <p>クラログαはボルダリングジム、クライミングジムで登った記録をカンタンに保存・管理できるツールです。登った本数やグレードの推移などもひと目で確認できます。</p>
      <h3 class="mt-3 mb-3">使い方</h3>
      <div class="card p-2 mb-3">
        <h5><i class="fas fa-search"></i> Step 1 - ジムを検索/選択 </h5>
        <div>クラログαに登録されている日本全国のジムを、ジム名などで検索して選択します。</div>
      </div>
      <div class="card p-1 mb-3">
        <h5><i class="fas fa-plus-circle"></i> Step 2 - 課題を登録 </h5>
        <div>ジムを選択したら、課題名やグレードなどを登録します。</div>
      </div>
      <div class="card p-1 mb-3">
        <h5><i class="fas fa-tasks"></i> Step 3 - ログを追加 </h5>
        <div>登録した課題に、トライしたログを追加します。</div>
      </div>
       <div class="card p-1 mb-3">
        <h5><i class="fas fa-chart-line"></i> Step 4 - ログを確認 </h5>
        <div>登録したログは自動的に集計、グラフ化されます。いつ何本登ったか、最高グレードがどう推移したか？などのデータをひと目で確認できます。</div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
