<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(<%= asset_path 'bouldering-climber-climbing-9606.jpg' %>);">
  <div class="container text-center">
    <h1 style="font-size: 64px;" class="mb-5">クラログα</h1>
    <p class="mb-5">クライミングジム、ボルダリングジムで登った記録をつけて、どんどんレベルアップ！</p>
    <a class="btn btn-primary" href="#">無料アカウント登録</a>
  </div>
</div>
