<% if user_signed_in? %>
  <div class="container mt-3  px-2 ">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div>クラログはボルダリングジム、クライミングジムや自然の岩場で登った記録をカンタンに保存・管理できるツールです。登った本数やグレードの推移などもひと目で確認できます。</div>
        <h4 class="text-center mt-3 mb-3">ジムで登ったログを記録するには？</h4>
        <div class="card p-2 mb-2">
          <h5><i class="fas fa-search"></i> Step 1 - ジムを検索/選択 </h5>
          <div>クラログに登録されている日本全国のジムを、ジム名などで検索して選択します。</div>
        </div>
        <div class="card p-1 mb-2">
          <h5><i class="fas fa-plus-circle"></i> Step 2 - 課題を登録 </h5>
          <div>ジムを選択したら、課題名やグレードなどを登録します。</div>
        </div>
        <div class="card p-1 mb-2">
          <h5><i class="fas fa-tasks"></i> Step 3 - ログを追加 </h5>
          <div>登録した課題に、トライしたログを追加します。</div>
        </div>
        <%= link_to  gyms_path, class: "btn btn-primary btn-block btn-lg mb-4" do %>
          <i class="fas fa-search"></i> ジム検索/選択画面へ進む
        <% end %>

        <h4 class="text-center mt-3 mb-3">岩場で登ったログを記録するには？</h4>
        <div class="card p-2 mb-2">
          <h5><i class="fas fa-search"></i> Step 1 - エリア、サブエリアを選択 </h5>
          <div>岩場のエリア、サブエリアを選択します。該当のエリア、サブエリアが未登録の場合は、新規で登録をします。</div>
        </div>
        <div class="card p-1 mb-2">
          <h5><i class="fas fa-plus-circle"></i> Step 2 - 課題やルートを選択 </h5>
          <div>課題やルートを選択します。該当の課題やルート未登録の場合は、新規で登録をします。</div>
        </div>
        <div class="card p-1 mb-2">
          <h5><i class="fas fa-tasks"></i> Step 3 - ログを追加 </h5>
          <div>選択した課題やルートに、トライしたログを追加します。</div>
        </div>
        <%= link_to  areas_path, class: "btn btn-primary btn-block btn-lg mb-3" do %>
          <i class="fas fa-search"></i> 岩場検索/選択画面へ進む
        <% end %>
        <div>※登録済みのエリア、サブエリア、課題、ルート情報の修正を希望の場合は、info@climbing-log.comまでEメールにてご連絡ください。</div>
      </div>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0)), url(<%= asset_path 'bouldering-climber-climbing-9606.jpg' %>);">
    <div class="container text-center">
      <h1 style="font-size: 48px;" class="mb-3">クラログ</h1>
      <h2 class="mb-3">登る、記録する、うまくなる！</h2>
      <p class="mb-3">クライミングジム、ボルダリングジムで登った記録も、岩場で登った記録もまとめて管理。</p>
      <p class="mb-3">記録をつけて、どんどんレベルアップ！</p>
      <p><a class="btn btn-primary btn-block btn-lg" href="/users/sign_up">アカウント登録(無料)</a></p>
      <p><a href="/users/sign_in" style="font-size: 16px; color: white;">ログイン</a></p>
    </div>
  </div>
<% end %>
<%= render 'shared/footer' %>
