<% if user_signed_in? %>
  <div class="container mt-3 ">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <% if current_user.logs.exists? %>
          <h5 class="mb-3">おかえりなさい、<%= current_user.nickname %>さん </h5>
          <div class="d-flex mb-3 align-items-center">
            <div class="card p-3 text-center" style="width: 50%;"><h5>ジム検索/選択</h5></div>
            <div class="card ml-3 p-3 text-center" style="width: 50%;"><h5>マイページ</h5></div>
          </div>
          <div class="card p-3 text-center" style="width: 100%;"><h5>アカウント設定</h5></div>
        <% else %>
          <h4 class="text-center my-2">クラログαとは？</h4>
            <div>ボルダリングジム、クライミングジムで登った記録をカンタンに保存・管理できるツールです。登った本数やグレードの推移などもひと目で確認できます。</div>
          <h4 class="text-center mt-3 mb-3">使い方</h4>
          <div class="card p-2 mb-3">
            <h5><i class="fas fa-search"></i> Step 1 - ジムを検索/選択 </h5>
            <div>クラログαに登録されている日本全国のジムを、ジム名などで検索して選択します。</div>
          </div>
          <div class="card p-1 mb-3">
            <h5><i class="fas fa-plus-circle"></i> Step 2 - 課題を登録 </h5>
            <div>ジムを選択したら、課題名やグレードなどを登録します。</div>
          </div>
          <div class="card p-1 mb-3">
            <h5><i class="fas fa-tasks"></i> Step 3 - ログを追加 </h5>
            <div>登録した課題に、トライしたログを追加します。</div>
          </div>
          <%= link_to  gyms_path, class: "btn btn-primary btn-block btn-lg" do %>
            <i class="fas fa-search"></i> Step 1 - ジム検索/選択画面へ進む
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(<%= asset_path 'bouldering-climber-climbing-9606.jpg' %>);">
    <div class="container text-center">
      <h1 style="font-size: 48px;" class="mb-5">クラログα</h1>
      <p class="mb-5">クライミングジム、ボルダリングジムで登った記録をつけて、どんどんレベルアップ！</p>
      <p><a class="btn btn-primary btn-block btn-lg" href="/users/sign_up">アカウント登録(無料)</a></p>
      <p><a href="/users/sign_in" style="font-size: 16px; color: white;">ログイン</a></p>
    </div>
  </div>
<% end %>
