<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v4.0"></script>

<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col-12 col-md-8">
      <h4 class="my-3">更新情報</h4>
      <div class="mb-3">クラログの更新情報は以下のFacebookページから発信しています。</div>
      <div class="mb-3">フィードバックやご要望、不具合等ございましたら、Facebook経由でお気軽にご連絡ください。</div>
      <div class="fb-page" data-href="https://www.facebook.com/climbinglog/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/climbinglog/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/climbinglog/">クラログ</a></blockquote>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
