<div class="container mt-3 px-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-5 pb-3">
      <div class="d-flex align-items-center">
        <h4><%= @area.area_name %> - <%= @sub_area.sub_area_name %> </h4>&nbsp;
        <%= link_to '編集', edit_area_sub_area_path(@area, @sub_area) %>
      </div>
    </div>
  </div>
</div>
