<div class="container mt-3 mb-5 text-center">
  <h3 class="mb-3">ジム情報変更</h3>
  <%= render 'form' %>
  <%= link_to '削除', gym_path(@gym), method: :delete, data: { confirm: '本当に削除してよいですか？' }, class:'btn btn-outline-danger btn-block mt-3' %>
</div>
