<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-6">
      <h4>ジム検索</h4>
      <div>現在地から検索</div>
      <div>行ったことのあるジム</div>
      <div>最終訪問日 | 訪問日数</div>
        <% @gyms.each do |gym| %>
        <div>
          <%= link_to gym.name, gym_path(gym) %>
          <%= gym.routes.joins(:logs).order(date: 'DESC').first.logs.order(date: 'DESC').first.date if gym.routes.exists? %>
        </div>
        <% end %>
      <% if current_user.admin? %>
        <%= link_to "新規ジム登録", new_gym_path, class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>

