<p><%= @resource.email %>さん</p>

<p>クラログのパスワードを変更するには、以下のリンクをクリックしてください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード変更メールの送信を希望でない場合は、何もする必要はありません。</p>
<p>上記リンクをクリックし、変更しない限り、パスワードが変更されることはありません。</p>
